.hero {
    position: relative; /* The .hero element is the containing block for absolutely positioned elements within it. */
}

.banner-img {
    width: 100%; /* image takes up the full width */
    mask-image: linear-gradient(to right, transparent, black 65%); 
    -webkit-mask-image: linear-gradient(to right, transparent, black 5%); /* Adds browser-specific support for WebKit-based browsers. */
}

.hero-caption {
    position: absolute; /* element is positioned relative to its nearest positioned ancestor (.hero). */
    width: 100%; 
    padding-left: 10px;
    bottom: 0; 
}

.captiom-img {
    width: 90%; 
    max-width: 420px; 
    margin-bottom: 30px; 
}

.captiom-img p {
    max-width: 700px; 
    font-size: 17px; 
    margin-left: 20px; 
}

.hero-btn {
    display: flex; /* Uses flexbox layout for the buttons container. */
    gap: 10px; 
    margin-bottom: 50px; 
}

.hero-btn .btn img {
    width: 25px; 
}

.hero-btn .btn {
    border: 0; 
    outline: 0; 
    padding: 8px 20px; 
    display: inline-flex; 
    align-items: center; 
    gap: 10px; 
    font-size: 15px;
    font-weight: 600; 
    background: white; 
    border-radius: 4px; 
    cursor: pointer; 
}

.hero-btn .btn.dark-btn {
    color: #fff;
    background: #6d6d6d; 
}

.hero-btn .btn:hover {
    background: #ffffffbf; 
}

.hero-btn .btn.dark-btn:hover {
    background: #6d6d6e66;
}
.more-card{
    padding: 10px;
}
@media(max-width:1024px){
    .hero-btn .title-cards{
        display: none;
    }
    
}
@media(max-width:800px){ 
    .hero-caption{
        padding-left: 4%;
        
    }
    .captiom-img{
        margin-bottom: 10px;
        width: 40%;
    }
    .hero-caption p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .hero-btn .btn img{
        width: 20px;
    }
    .more-card{
        padding-left: 4%;
    }
}
@media(max-width:500px){
    .captiom-img{
        display: none;
    }
    .hero-btn .btn img{
        width: 15px;
    }
    .btn{
        gap: 5px;
        padding: 4px 0px;
        font-size: 10px;
    }
    
}