.navbar{
    width:100% ;
    padding: 20px 6%;
    display: flex;
    /* left column alinged side by side */
    justify-content: space-between;
    /* navbar at top */
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image:linear-gradient((180deg, rgba(0,0,0,0.7)10%, transparent)) ;
    z-index: 1;
}
.navbar-left{
    display: flex;
    align-items: center;
    /* between menu links and the image */
    gap: 50px;
}
.navbar-left img{
    width: 50px;
}
.navbar-left ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar-left ul li{
    cursor: pointer;
}
.navbar-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar-right .icon{
    width: 20px;
    cursor: pointer;
}
.navbar-right .profile{
    border-radius: 4px;
    width: 35px;
}
.navbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    /* position: relative:
- The element is positioned relative to its normal position. */
    position: relative;
}
.navbar .dropdown{
    /* unaeza toa kwa the normal flow */
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919; ;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    /*  The z-index property controls the stacking order of elements.
- Elements with a higher z-index are displayed in front */
    z-index: 1;
    /* to hide the sign out text */
    display: none;

}
.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;
}
.navbar-profile:hover .dropdown{
    display: block;
}
.nav-dark{
    background: #141414;
}