.navbar-center {
    position: relative;
    display: flex;
    flex-direction: column; /* Display search results beneath search bar */
    align-items: center;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 8px;
    width: 200px;
  }
  
  .search-icon {
    cursor: pointer;
    color: #333;
    font-size: 24px;
  }
  
  .search-results {
    list-style-type: none;
    padding: 0;
    margin: 8px 0 0; 
    max-height: 200px; 
    overflow-y: auto; /* Enable vertical scroll if necessary */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color:black;
    width: 100%; /* Stretch to match parent width */
  }
  
  .search-results li {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .search-results li:hover {
    background-color:red;
  }
  